.App {
  text-align: center;
}

.appHeader{
  color: green;
  font-size: 5rem;
  font-style: italic;
  font-weight: 900;
  font-family: 'Courier New', Courier, monospace;
}

input[type=text]{
  padding: 10px;
  border: 1px solid #ccc;

}

input[type=submit]{
  background-color: green;
  border: 1px solid green;
  width: 100px;
  padding: 10px;
  font-size: 1rem;
  font-weight: 500;
  color: white;
}

input[type=submit]:hover{
  background-color: mediumseagreen;
  border: 2px solid mediumseagreen;
  color: black;
}

h1{
  margin: 30px 30px;
}

form{
  padding: 20px;
  margin: 0px 150px 0px;
  border: 1px solid #eee;
  box-shadow: 10px 5px 5px #ccc;
  
}
